<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Facilities</title>
</head>
<body>
	<div>
		<h4>Facilities</h4>
		<div>
			<table>
				<tr>
					<th>Name</th>
				</tr>
				<tr th:each="facility : ${facilities}">
					<td><a th:href="@{'/facility' + '/' + ${facility.id}}"><span
							th:text="${facility.name}"></span></a></td>
					<td><a
						th:href="@{'/facility' + '/activities/' + ${facility.id}}">
							</a></td>
				</tr>
			</table>
		</div>
	</div>
	<a th:href="@{/addFacility}">Insert new facility</a>
</body>
</html>
