<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello' + '!'" />
    <a th:href="@{/addStudent}">Insert new student</a>
    <a th:href="@{/students}">List all students</a>
    <a th:href="@{/addActivity}">Insert new activity</a>
    <a th:href="@{/activities}">List all activities</a>
    <a th:href="@{/addFacility}">Insert new facility</a>
    <a th:href="@{/Facilities}">List all facilities</a>
    <a th:href="@{/chooseStudent}">Select Student</a>
</body>
</html>