<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<title>Activities</title>
</head>
<body>
<div>
	<div class="modal-title">
		<a class="close" th:href="@{/facilities}" >&times;</a>
		<h4 class="modal-title" style="text-align: center">Activities</h4>
	</div>
	<div class="modal-body">
		<div class="table-responsive table table-striped">
			<table>
				<tr th:each="activity : ${activities}">
					<td><span th:text="${activity.getName() + '            Total Subscriptions:' + activity.getPartecipazioni().size()}"></span></td>
				</tr>
			</table>
		</div>
	</div>
	<div style="text-align: center">
		<a class="btn btn-default" th:href="@{/facilities}">OK</a>
	</div>
</div>
</body>
</html>