<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<title>Student</title>
</head>
<body>
<div>
	<div class="modal-title">
		<a class="close" th:href="@{/students}" >&times;</a>
		<h4 class="modal-title" style="text-align: center">Student</h4>
	</div>
	<div class="modal-body">
		<div>
			<span th:text="${student.name}"></span>
		</div>
		<div>
			<span th:text="${student.surname}"></span>
		</div>
		<div>
			<span th:text="${student.username}"></span>
		</div>
		<div>
			<span th:text="${student.getPhone()}"></span>
		</div>
		<div>
			<span th:text="${student.birthdate}"></span>
		</div>
		<div>
			<span th:text="${student.birthplace}"></span>
		</div>
	</div>
	<div style="text-align: center">
		<a class="btn btn-default" th:href="@{/students}">OK</a>
	</div>
</div>
</body>
</html>