<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Students</title>
</head>
<body>
	<div>
		<h4>Students</h4>
		<div>
			<table>
				<tr>
					<th>Name</th>
				</tr>
				<tr th:each="student : ${students}">
					<td><a th:href="@{'student' + '/' + ${student.id}}"><span
							th:text="${student.name}"></span></a></td>
				</tr>
			</table>
		</div>
	</div>
	<a th:href="@{/addStudent}">Insert new student</a>
</body>
</html>
